#changing



.ftco-footer {
    font-size: 16px;
    padding: 7em 0;
    background: #1e8926;
}
.ftco-footer {
    font-size: 16px;
    padding: 7em 0;
    background: #1e8926;
}
.ftco-footer {
    font-size: 16px;
    padding: 7em 0;
    background: #277a12;
}
.ftco-footer {
    font-size: 16px;
    padding: 7em 0;
    background: #1e8926;
}
